body{
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container{
    display: flex;
    gap: 30px;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 8px;
    padding-bottom: 100px;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px;
    margin-top: 0px;
    
}

.right{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 100px;
}
.hero{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding-top: 100px;

}

.SecondHero{
    font-size: 18px;
    color: #e5e7eb;
    width: 300px;

}

.header{
    display: flex;
    justify-content: space-between;
}

.Hlogo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;

}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

button{
    background-color: #3882f6;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}


.headerimg img{
        border-radius: 12px;
        margin-top: 100px;

    
}


.characters{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;

}

.animeCh{
    text-align: center;
    font-size: 36px;
    padding-top: 20px;
    font-weight: 900;
}

.cards{
    display: flex;
    gap: 40px;
    margin-top: 30px;
    justify-content: center;
}

.text{
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: centerd;
    margin-bottom: 30px;
}
.card {

    border-radius: 12px;
    border: #3882f6 solid 5px;
    padding: 5px;
    
}

.cardinfo{
    max-width: 200px;

}


.quote{
    background-color: #e5e7eb;
    padding: 36px;
    font-size: 36px;
    color: #1f2937;
}


h3{
    text-align: end;
    color: black;
    font-weight: 900;
}

.Forthsection{
    background-color: #3882f6;
    margin: 40px;
    border-radius: 8px;
    padding: 20px;
    color: #e5e7eb;
}

.rbtn{
    border: #f9faf8 solid 2px;

}


.Forthsection{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.call{
    font-weight: 900;
}

.ctaright{
    padding-top: 15px;
}

.copyright{

    text-align: center;
    background-color: #1f2937;
    padding: 20px;
    color: #e5e7eb;
    margin-top: auto;
    
}


